<a href="https://colab.research.google.com/github/soerenml/colab/blob/master/python_101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A quick introduction to Python

The following content is based on Erc Matthe's book, 'Python crash course' from 2016.

## Lists

Lists contain data (string, int etc.) in an ordered manner.

List are using brackets: <code>[]</code>

### Creation and selection

In [1]:
# Create a list
numbers = ['zero', 'one', 'two', 'N']
print(numbers)

# Select part of a list
print(numbers[1])

# The last item can always be accessed via -1
print(numbers[-1])

# Slicing a list
print(numbers[0:3])

# Length of a list
print(len(numbers))

['zero', 'one', 'two', 'N']
one
N
['zero', 'one', 'two']
4

### Altering a list

In [2]:
# Alter a specific element
numbers[3] = 'last_item'
print(numbers)

# Adding elements to the list
numbers.append('last_item+1')
print(numbers)

# Insert element into a specific position.
numbers.insert(0, 'zero-1')
print(numbers)

# Delete a number from a list.
del numbers[0]
print(numbers)

# Remove item by value.
numbers.remove('last_item+1')
print(numbers)

['zero', 'one', 'two', 'last_item']
['zero', 'one', 'two', 'last_item', 'last_item+1']
['zero-1', 'zero', 'one', 'two', 'last_item', 'last_item+1']
['zero', 'one', 'two', 'last_item', 'last_item+1']
['zero', 'one', 'two', 'last_item']

### Sorting a list

<code> .sort() </code> is non temporary. To make sorts temorary use <code> .sorted() </code>.

In [3]:
# Sorting
numbers.sort()
print(numbers)

# Reverse sorting.
numbers.sort(reverse=True)
print(numbers)

numbers = ['zero', 'one', 'two', 'N']

print(
	'Sorted: ' +str(sorted(numbers))
	)

print(
	'Sorted reverse: '
	+str(sorted(numbers, reverse=True)))

['last_item', 'one', 'two', 'zero']
['zero', 'two', 'one', 'last_item']
Sorted: ['N', 'one', 'two', 'zero']
Sorted reverse: ['zero', 'two', 'one', 'N']

### Loops

In [6]:
# Print all objects in list 'numbers' 
for i in numbers:
	print(i)
 
# Create a new list with a loop
test = [z for z in numbers]
print(test)

zero
one
two
N
['zero', 'one', 'two', 'N']